@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* Theme Information
/* ----------------------------------------------------------------------
Name: Parich
Description: Wordpress Responsive Theme for Parich Fertilizer
Author: Sorajate H.
Author URI: 
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Finesse IE Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-IE11 Styles
------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* IE11 Styles
/* ---------------------------------------------------------------------- */


