@charset "utf-8";

@font-face {
  font-family: 'DB Helvethaica X';
  src: url('DB Helvethaica X.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X.svg#6bf6d07108e50f39de4ac4c471b9d485') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Bd Cond';
  src: url('DB Helvethaica X Bd Cond.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Bd Cond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Bd Cond.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Bd Cond.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Bd Cond.svg#03a0abacaf3bc5147575f7d9b44f7ede') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'DB Helvethaica X Bd';
  src: url('DB Helvethaica X Bd.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Bd.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Bd.svg#892783b2f385d1b17d12fc6949bc5e54') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X BdIt';
  src: url('DB Helvethaica X Bd It.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Bd It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Bd It.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Bd It.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Bd It.svg#aeb665c37dec9aceafa0c28a6030bc0f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Li';
  src: url('DB Helvethaica X Li.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Li.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Li.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Li.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Li.svg#073dd15db5a9a09aaf3c7597af07bf4c') format('svg'); /* Legacy iOS */ 
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X UlLi';
  src: url('DB Helvethaica X UlLi.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X UlLi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X UlLi.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X UlLi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X UlLi.svg#fe75b23e68fb421ee7212186db085c91') format('svg'); /* Legacy iOS */   
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Med';
  src: url('DB Helvethaica X Med.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Med.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Med.svg#f8dd57e6b91d621327e4c9095bddf78a') format('svg'); /* Legacy iOS */    
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Med Cond';
  src: url('DB Helvethaica X Med Cond.eot'); /* IE9 Compat Modes */
  src: url('DB Helvethaica X Med Cond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('DB Helvethaica X Med Cond.woff') format('woff'), /* Modern Browsers */
       url('DB Helvethaica X Med Cond.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('DB Helvethaica X Med Cond.svg#1db638c8b83586041c0719fccac59eee') format('svg'); /* Legacy iOS */      
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'icons';
  src: url('icons.eot?82350733');
  src: url('icons.eot?82350733#iefix') format('embedded-opentype'),
       url('icons.woff?82350733') format('woff'),
       url('icons.ttf?82350733') format('truetype'),
       url('icons.svg?82350733#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}